body {
  height: 0;
}

.description {
  font-family: 'Roboto Condensed', sans-serif;
}

.font-titulo {
  /*font-family: 'Pacifico', cursive;*/
  font-family: 'Chilanka', cursive;
}

.logo {
  font-family: 'Chilanka', cursive;
  font-family: 'Cute Font', cursive;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
}

.font-titulo2 {
  font-family: 'Chilanka', cursive;
  margin-top: 5%;
}

.img {
  background: white;
  height: auto;
  margin-bottom: 29.5%;
}

main {
  height: 10%;
}

.text-center {
  font-size: x-large;
}

.text-secondary {
  color: #000 !important;
}

.fundo-branco {
  height: 0;
}

.fundo a:hover {
  background: #191818 !important;
  color: white !important;
}

@media (max-width: 500px) {
  .fundo-branco {
    height: auto;
  }
}

.texto {
  font-family: 'Fredoka One', cursive;
  font-family: 'ZCOOL XiaoWei', serif;
}
