.card-largura {
  max-width: 18rem; /*faz com que a imagem não ultrapasse essa largura*/
}

.imagem-carrosel1 {
  object-fit: cover; /*o comportamento do elemento selecionado em relação ao container dele */
  object-position: 0 20%; /*eixos: x e y*/
  height: 400px;
}

.imagem-carrosel2 {
  object-fit: cover;
  object-position: 0 50%;
  height: 400px;
}

.imagem-carrosel3 {
  object-fit: cover;
  object-position: 0 30%;
  height: 400px;
}

.imagem-carrosel4 {
  object-fit: cover;
  object-position: 0 50%;
  height: 400px;
}

.font-titulo {
  /*font-family: 'Pacifico', cursive;*/
  font-family: 'Chilanka', cursive;
}

.cor-especial {
  color: #191818;
  font-weight: bold;
  background: #fec118;
}

.fundo-branco,
#fundo-branco {
  background: white;
}

.borda-cor-especial {
  border-color: #fec118;
  border-top-width: 5%;
  border-bottom-width: 5%;
  border-right-width: 5%;
  border-left-width: 5%;
}

.card-posicao-imagem {
  object-fit: cover;
  height: 200px;
}
hover .submit-senha {
  margin-bottom: 20px;
}

.font-titulo-cadastro,
.botao-cadastro {
  font-family: 'Noto Serif', serif;
  font-family: 'Lobster', cursive;
  font-family: 'Fredoka One', cursive;
  color: darkred;
  margin-bottom: 20px;
}

.botao-cadastro {
  color: white;
  background: darkred;
}

#menssagem a {
  color: black;
}

#menssagem a:hover {
  color: darkred;
  text-decoration: none;
}

.login {
  background: darkcyan;
}

body,
.artigo {
  line-height: 1;
  overflow-x: hidden;
}
.caixa-fotos {
  background-color: rgba(193, 194, 197, 0.5);
}

.nav-header {
  background-color: #ffc107 !important;
  width: 100%;
  padding: 30px;
  /* height: auto; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*border-bottom: 40px solid black;*/
}

.navbar-header {
  color: white;
  font-family: 'Chilanka', cursive;
}

.nav-header a:hover {
  background: #ffc107 !important;
}
/*teste*/
.center {
  font: 900 18px/120% Pbold;
  color: #fff;
  text-decoration: none;
}

.center,
a:hover {
  text-decoration: none;
}

.logo {
  font-family: 'Chilanka', cursive;
  font-family: 'Cute Font', cursive;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
}

.espacamento {
  margin-top: 0%;
}

/*.container{
    background-color: transparent url("../img/body.jpeg") no-repeat center center;
    
}*/

#section1 {
  width: 100%;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

#borda-black {
  border-bottom: 40px solid black;
  margin-top: 5%;
}

.fundo {
  background: #fec118;
  color: white;
}

.fundo a:hover {
  background: #191818;
  color: white;
}

.img {
  position: relative;
  background: black;
}

#corpo .img img {
  width: 100%;
  display: block;
  margin-bottom: 1%;
}

#corpo {
  margin-bottom: 2%;
}

.menu-corpo {
  text-align: center;
  max-width: 140px;
  width: 100%;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  margin-left: 10%;
  margin-top: -9%;
  filter: opacity(25%);
  font: 32px/100% Plight;
  margin-top: 10px;
}
h3 {
  color: #fec118;
  margin-top: 1%;
  height: 100px;
  font-weight: bold;
  text-align: center;
}

.lista-animais {
  color: white;
  margin-top: -3%;
  height: 100px;
  font-weight: bold;
  text-align: center;
}

.card-largura {
  max-width: 18rem; /*faz com que a imagem não ultrapasse essa largura*/
  background: black;
  color: white;
  margin-left: 5%;
  margin-top: -2%;
}

card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  background-color: black;
  color: white;
}

.fundo-artigo {
  background: black;
}
