.card-largura{
    max-width: 18rem;/*faz com que a imagem não ultrapasse essa largura*/
}

.imagem-carrosel1{
    object-fit:cover; /*o comportamento do elemento selecionado em relação ao container dele */
    object-position:0 20%;/*eixos: x e y*/
    height:400px;
}

.imagem-carrosel2{
    object-fit:cover; 
    object-position:0 50%;
    height:400px;
}

.imagem-carrosel3{
    object-fit:cover;
    object-position:0 30%;
    height:400px;
}

.imagem-carrosel4{
    object-fit:cover; 
    object-position:0 50%;
    height:400px;
}

.font-titulo{
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Chilanka', cursive;
}

.cor-especial{
    color:#191818;
    font-weight: bold;
}

.borda-cor-especial{
    border-color:darkred;
}

.card-posicao-imagem{
    object-fit:cover; 
    height:200px;
}

.submit-senha{
    margin-bottom:20px;
}

.font-titulo-cadastro,.botao-cadastro{
    font-family: 'Noto Serif', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Fredoka One', cursive;
    color:darkred;
    margin-bottom:20px;
}

.botao-cadastro{
    color:white;
    background:darkred;
}

#menssagem a{
    color:black;
}

#menssagem a:hover{
    color:darkred;
    text-decoration:none;
}

.login{
    background:darkcyan;
}

body, .artigo{
    line-height: 1;
    overflow-x: hidden;
}
.caixa-fotos{
    background-color: rgba(193, 194, 197, 0.5);
}

.nav-header{
    background-color: #fec118;
    width: 100%;
    padding: 30px;
    /* height: auto; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 40px solid black;
}

.navbar-header{
    color:white;
    font-family: 'Chilanka', cursive;
}
/*teste*/
.center{
    font: 900 18px/120% Pbold;
    color: #fff;
    text-decoration: none;
}

.center, a:hover{
    text-decoration: none;
}

.logo{
    font-family: 'Chilanka', cursive;
    font-family: 'Cute Font', cursive;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

.espacamento{
    margin-top: 8%;
}

.secao1{
    background-color: transparent url("../img/body.jpeg") no-repeat center center;
    background-size: cover;
}